@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url(./Nunito-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 400;
    font-display: auto;
    src: url(./Nunito-Italic.woff2) format('woff2');
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-display: auto;
    src: url(./Nunito-Bold.woff2) format('woff2');
}

@font-face {
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 700;
    font-display: auto;
    src: url(./Nunito-BoldItalic.woff2) format('woff2');
}