@use './linkTooltip.scss';

@import 'prosemirror-view/style/prosemirror.css';
@import 'prosemirror-tables/style/tables.css';
@import 'prosemirror-menu/style/menu.css';
@import './PTSerif/PTSerif.css';

:root {
	--t-content-indent: 1.4em;
	--t-content-font: 'PT Serif';
	--t-content-font-size: 12pt;
}

@mixin after($content: "<tag>") {
	content: $content;
	position: absolute;
	line-height: 1rem;
	bottom: -0.5rem;
	right: 0.5rem;
	font-size: 1rem;
	font-family: 'Nunito', sans-serif;
	color: var(--p-text-muted-color);
	background: var(--p-content-background);
}

@mixin before() {
	position: absolute;
	line-height: 1rem;
	top: -0.5rem;
	left: 1rem;
	font-size: 1rem;
	font-family: 'Nunito', sans-serif;
	color: var(--p-text-muted-color);
	background: var(--p-content-background);
}

@mixin block($color: rgb(0, 0, 0)) {
	display: block;
	border: thin solid $color;
	border-radius: 3px;
	padding: 0.5rem;
	margin: 0.5rem 0;
	position: relative;
}

.ProseMirror {
	padding-block: var(--p-inputtext-padding-y);
	padding-inline: var(--p-inputtext-padding-x);
	font-size: var(--t-content-font-size);
	font-family: var(--t-content-font), serif;
	overflow-wrap: anywhere;
	line-height: 1.4;
	outline: none;

	section {
		@include block(rgb(221, 144, 0));
	}

	section::after {
		@include after($content: "<section>");
	}

	header {
		@include block(rgb(22, 231, 84));
		padding-block: 0.25rem;
		margin-top: 0rem;
		text-align: center;
	}

	header::after {
		@include after($content: "<title>");
	}

	epigraph {
		@include block(rgb(29, 78, 214));
	}

	epigraph::after {
		@include after($content: "<epigraph>");
	}

	text-author {
		@include block(rgb(29, 78, 214));
	}

	text-author::after {
		@include after($content: "<text-author>");
	}

	cite {
		@include block(rgb(211, 214, 29));
		font-style: normal;
	}

	cite::after {
		@include after($content: "<cite>");
	}

	poem {
		@include block(rgb(211, 214, 29));
	}

	poem::after {
		@include after($content: "<poem>");
	}

	stanza {
		@include block(rgb(211, 214, 29));
	}

	stanza::after {
		@include after($content: "<stanza>");
	}

	date {
		@include block(rgb(48, 29, 214));
	}

	date::after {
		@include after($content: "<date>");
	}

	annotation {
		@include block(rgb(230, 112, 220));
	}

	annotation::after {
		@include after($content: "<annotation>");
	}

	subtitle {
		@include block(rgb(68, 92, 68));
		text-align: center;
	}

	subtitle::after {
		@include after($content: "<subtitle>");
	}

	p,
	v {
		display: block;
		margin: 0em;
		text-indent: var(--t-content-indent);
	}

	p[id]::after,
	v[id]::after,
	th[id]::after,
	td[id]::after {
		content: " #" attr(id);
		color: var(--p-text-muted-color);
		font-size: 1rem;
		font-family: 'Nunito', sans-serif;
	}

	subtitle[id]::before {
		@include before();
		content: "#" attr(id);
	}

	note {
		display: inline;
		line-height: 0;
		vertical-align: super;
		font-size: smaller;
		color: var(--p-link-color);
		margin-inline-start: 0.1em;
	}

	a {
		color: var(--p-link-color);
	}

	sup,
	sub {
		line-height: 0;
	}

	code {
		background-color: var(--p-content-hover-background);
	}

	image {
		display: block;
		width: fit-content;
		margin: auto;
	}

	table {
		margin: 0.25rem var(--t-content-indent);
		width: calc(100% - 2*var(--t-content-indent));
	}

	th,
	td {
		border: thin solid var(--p-content-border-color);
		padding: 3px 5px;
	}

	th[valign="top"],
	td[valign="top"] {
		vertical-align: top;
	}

	th[valign="middle"],
	td[valign="middle"] {
		vertical-align: middle;
	}

	th[valign="bottom"],
	td[valign="bottom"] {
		vertical-align: bottom;
	}

	id-label {
		@include before();
		user-select: none;
		cursor: pointer;
	}
}

.highlight-emphasis {
	em {
		border: 1px solid rgb(255, 88, 88);
	}
}

.ProseMirror-menubar {
	padding: 6px 6px;
	color: var(--p-text-muted-color);
	background: var(--p-toolbar-background);
	border-color: var(--p-toolbar-border-color);
}

.ProseMirror-menubar-wrapper {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}