.t-image_view {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	min-height: 5rem;

	.image-actions {
		position: absolute;
		top: 0.75rem;
		right: 1rem;
		display: flex;
		flex-direction: row;
		gap: 0.25rem;
		opacity: 0;
		transition: opacity var(--p-button-transition-duration), transform var(--p-button-transition-duration);
	}

	&:hover .image-actions {
		opacity: 1;
		transform: translateY(0.25rem);
	}

	.image-edit,
	.image-remove {
		box-shadow: var(--p-button-raised-shadow);
	}

	.image-content {
		border: thin solid var(--p-content-border-color);
		background: repeating-conic-gradient(from 0deg,
				transparent 0% 25%,
				var(--p-button-secondary-background) 25% 50%);
		background-size: 1rem 1rem;
	}

	.image-caption {
		text-align: center;
		text-wrap: balance;
		font-style: italic;
		font-size: smaller;
		padding-top: 0.5rem;
		user-select: none;
	}
}