@import 'primeicons/primeicons.css';

@import './Nunito/Nunito.css';
@import './editor.scss';
@import './ui.css';

html {
  height: 100%;
  font-size: 14px;
}

body {
  font-family: 'Nunito', sans-serif;
  color: var(--p-text-color);
  margin: 0;
  padding: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.root-app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}