@import 'primeicons/primeicons.css';

@import './Nunito/Nunito.css';
@import './editor.scss';
@import './ui.css';

:root {
	--t-ui-font-size: 90%;
	--t-splitter-bar-size: 4px;
}

html {
	height: 100%;
	font-size: var(--t-ui-font-size);
}

body {
	font-family: 'Nunito', sans-serif;
	color: var(--p-text-color);
	margin: 0;
	padding: 0;
	min-height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.root-app-container {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	height: 100dvh;
}