.t-ui-field {
	display: flex;
	flex-direction: column;
	flex: 1 1 0;
	gap: 0.5rem;
}

.t-ui-grow0 {
	flex-grow: 0;
}

.t-ui-grow05 {
	flex-grow: 0.5;
}

.t-ui-grow {
	flex-grow: 1;
}

.t-ui-group {
	display: flex;
	gap: 1rem;
}

.t-ui-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.t-ui-chipcontainer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 1rem;
}

.t-ui-chipinput {
	max-width: 45rem;
	flex: 1 1 45rem;
	padding-block: 0.75rem !important;
}

.t-ui-long-chipcontainer {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 1rem;
}

.t-ui-long-chipgroup {
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	gap: 0.75rem;
	padding-block: 0.25rem;
}

.t-ui-rowgroup {
	display: flex;
	flex-direction: row;
	gap: 0.75rem;
	flex-grow: 1;
}

.t-ui-panelheader {
	font-size: 1.875rem;
	padding-block: 0.875rem;
}

.t-ui-dialog {
	min-width: 25rem;
}